################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EcoCatalystApi/obj
/EcoCatalyst.Api/bin/Debug/net9.0
/EcoCatalyst.Api/obj
/EcoCatalyst.Application/bin/Debug/net9.0
/EcoCatalyst.Application/obj
/EcoCatalyst.Domain/bin/Debug/net9.0
/EcoCatalyst.Domain/obj
/EcoCatalyst.Infrastructure/bin/Debug/net9.0
/EcoCatalyst.Infrastructure/obj
/EcoCatalystApi.Tests/EcoCatalyst.Api.Tests/bin/Debug/net9.0
/EcoCatalystApi.Tests/EcoCatalyst.Api.Tests/obj
/EcoCatalystApi.Tests/EcoCatalyst.Application.Tests/bin/Debug/net9.0
/EcoCatalystApi.Tests/EcoCatalyst.Application.Tests/obj
/EcoCatalystApi.Tests/EcoCatalyst.Infrastructure.Tests/bin/Debug/net9.0
/EcoCatalystApi.Tests/EcoCatalyst.Infrastructure.Tests/obj
/EcoCatalyst.API.postman_collection.json
/Script tbl ApiUsers.sql
/EcoCatalyst.Api/bin/Release/net9.0
/EcoCatalyst.Application/bin/Release/net9.0
/EcoCatalyst.Domain/bin/Release/net9.0
/EcoCatalyst.Infrastructure/bin/Release/net9.0
/EcoCatalystApi.Tests
/CleanArchitecture.Api/bin
/CleanArchitecture.Api/obj
/CleanArchitecture.Application/bin
/CleanArchitecture.Application/obj
/CleanArchitecture.Domain/bin
/CleanArchitecture.Domain/obj
/CleanArchitecture.Infrastructure/bin
/CleanArchitecture.Infrastructure/obj
/CleanArchitectureApi.Tests/CleanArchitecture.Api.Tests/bin
/CleanArchitectureApi.Tests/CleanArchitecture.Api.Tests/obj
/CleanArchitectureApi.Tests/CleanArchitecture.Application.Tests/bin
/CleanArchitectureApi.Tests/CleanArchitecture.Application.Tests/obj
/CleanArchitectureApi.Tests/CleanArchitecture.Infrastructure.Tests/bin
/CleanArchitectureApi.Tests/CleanArchitecture.Infrastructure.Tests/obj
